<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>TOP</title>
</head>
<body>
<div class="header-contents">
  <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
  <a href="/new">
    <button class="new-button" type="button">新規投稿</button>
  </a>
  <form method="get" action="/">
    <div class="date-search">
      日付：<input type="date" name="start" th:value="${start}"/>～<input type="date" name="end" th:value="${end}"/>
      <input type="submit" value="絞り込み" />
    </div>
  </form>

  <div class="message-icon" th:each="content : ${contents}">
    <div>
      ID : <span th:text="${content.id}"/>
    </div>
    <div class="text">
      投稿 : <span th:text="${content.content}"/>
    </div>
    <div class="date">
      投稿日時：<span th:text="*{#temporals.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}"/><br/>
      更新日時：<span th:text="*{#temporals.format(content.updatedDate, 'yyyy/MM/dd HH:mm:ss')}"/>
    </div>
    <div class="edit-button">
      <form th:action="@{/edit/{id}(id=${content.id})}">
        <input type="submit" value="編集">
      </form>
    </div>
    <div class="delete-button">
      <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
      <!-- {id}で挿入する枠を作って、その後の(id=${content.id})で代入している。@は多分お作法。
      th:method="delete"にしているから、
        <input type=”hidden” name=”_method” value=”delete”>は自動で実装されるらしい。便利。-->
        <input type="submit" value="削除">
      </form>
    </div>
    <div class="comments" th:each="comment : ${comments}">
      <div th:if="${comment.reportId}==${content.id}">
        <div class="comment-text">
          ID：<span th:text="${content.id}"/>へのコメント<br/>
          <span th:text="${comment.content}"/>
        </div>
        <div class="edit-button">
          <form th:action="@{/editComment/{id}(id=${comment.id})}">
            <input type="submit" value="編集">
          </form>
        </div>
        <div class="delete-button">
          <form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete">
            <input type="submit" value="削除">
          </form>
        </div>
      </div>
    </div>
    <div class="add-comment">
      <form method="post" th:action="@{/addComment/{ReportId}(ReportId=${content.id})}" th:object="${commentModel}">
        <div class="form-area">
          <label>コメント</label>
          <textarea class="comment-box" th:field="*{content}" size="20" maxlength="200" /></textarea><br/>
          <input type="submit" value="コメントを投稿" />
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
