<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.repository.ReportMapper">
    <resultMap id="result" type="com.example.forum.repository.entity.Report">
        <result column="id" property="id" />
        <result column="content" property="content" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
    </resultMap>
    <select id="findAllReport" resultMap="result" parameterType="LocalDateTime">
        select
        id,
        content,
        created_date AS createdDate,
        updated_date AS updatedDate
        from report
        where updated_date = BETWEEN #{start} AND #{end}
    </select>
</mapper>